<!DOCTYPE html>
<html>

<head>

  <title>Pharmacy</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito" />
  <link rel="stylesheet" href="/files/bootstrap-4/css/bootstrap.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico" />
  <link rel="stylesheet" type="text/css" href="/files/css/views.css">
  <link rel="stylesheet" type="text/css" href="/files/css/w3.css">
  <link rel="stylesheet" type="text/css" href="/files/css/datepicker.css">
  <script src="/files/js/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="/files/js/pageScript.js"></script>
  <script src="/files/js/popper.min.js"></script>
  <script type="text/javascript" src="/static/files/js/stickyfillmin.js"></script>
  <script src="/files/bootstrap-4/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="background">
    <div class="sidebarContainer">
      <div class="row">
        <nav class="col-sm-2 sidebar">
          <div class="sidebar sticky ">

            <div class="list-group" id="sideScroll">
              <a class="list-group-item list-group-item-action" href="#list-allergy">Allergy Medication</a>
              <a class="list-group-item list-group-item-action" href="#list-antiBiotics">Antibiotics</a>
              <a class="list-group-item list-group-item-action" href="#list-antiepileptics">Anti-Epileptics</a>
              <a class="list-group-item list-group-item-action" href="#list-antiFungal">Antifungals</a>
              <a class="list-group-item list-group-item-action" href="#list-antiVirals">Antivirals</a>
              <a class="list-group-item list-group-item-action" href="#list-asthmaBreathing">Asthma/Breathing Treatments</a>
              <a class="list-group-item list-group-item-action" href="#list-decogestants">Decongestants</a>
              <a class="list-group-item list-group-item-action" href="#list-steroids">Steroids</a>
              <a class="list-group-item list-group-item-action" href="#list-supplements">Supplements</a>
              <a class="list-group-item list-group-item-action" href="#list-other">Other</a>

            </div>



          </div>


        </nav>
        <div class="col-lg">

          <div class="card header">
            <div class="topRight">
              <a> Welcome, "*User Name*" | </a>
              <a href="/" class="btn btn-outline-success"> Logout </a>
            </div>
            <div>
              <a href="/patientSearch" style="text-decoration : none ">
                <p class="label" id="R-plus"> R+ </p>
                <p class="label" id="Childrens">Childrens</p>
              </a>

              <a href="/pharmacy" class="top-nav" id="pharmacy">Pharmacy</a>
              <a href="#AllPatients" class="top-nav" id="rec-pat">Recent Patients</a>
              <a href="/patientSearch" class="top-nav" id="search-pat">Search Patients</a>
              <a href="/form" class="top-nav" id="search-pat">Add Patient</a>

            </div>
          </div>


          <div class="content-container" data-spy="scroll" data-target="#sideScroll" data-offset="0" class="scrollspy">
            <div class="card box summary">
              <h3 class="title"> Pharmacy </h3>
            </div>

            <div id="list-allergy" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Allergy Medicine
                </div>
                <thead>
                  <tr class="w3-light-grey">
                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>
                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="allergyMedicineTableBody"></tbody>
                <th></th>
              </table>
              <form id="allergyMedicine" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#allergyMedicine" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>
            </div>


            <div id="list-antibiotics" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Antibiotics
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>
                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="antibioticsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="antibiotics" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#antibiotics" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>
            </div>
            <div id="list-antiepileptics" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Anti-Epileptics
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="antiepilepticsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="antiepileptics" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#antiepileptics" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-antifungals" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Antifungals
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>
                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>
                </thead>
                <tbody id="antifungalsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="antifungals" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#antifungals" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-antivirals" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Antivirals
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="antiviralsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="antivirals" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#antivirals" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-asthma" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Asthma/Breathing Treatments
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="asthmaTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="asthma" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#asthma" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-decongestants" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Decongestants
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="decongestantsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="decongestants" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#decongestants" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-steroids" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Steroids
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="steroidsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="steroids" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#steroids" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-supplements" class="box card section">
              <table class="w3-table-all" id="medtable">
                <div class="subTitle">
                  Supplements
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="supplementsTableBody">
                  <th></th>
                </tbody>
              </table>
              <form id="supplements" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#supplements" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>
            <div id="list-other" class="box card section">
              <table class="w3-table-all">
                <div class="subTitle">
                  Other
                </div>
                <thead>
                  <tr class="w3-light-grey">

                    <th>Generic Drug Name</th>
                    <th>Proprietary Drug Name</th>
                    <th>Drug Class</th>
                    <th>Type of Drug</th>
                    <th>Description</th>
                    <th>Manufacture Date</th>
                    <th>Expiration Date</th>
                    <th>Lot Number </th>
                    <th>Concentration</th>
                    <th>Amount Per Unit</th>
                    <th>Number of Units Remaining</th>
                    <th>Total Amount Remaining</th>

                    <td>
                      <button id="editPharmacy" class=b tn-outline-primary> Edit </button>
                    </td>
                  </tr>

                </thead>
                <tbody id="otherTableBody">
                  <th></th>
                </tbody>
              </table>

              <form id="other" class="tr addForm collapse">
                <span class="td">
                  <input type="text" name="genericName" placeholder="Generic Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="proprietaryName" placeholder="Proprietary Drug Name">
                </span>
                <span class="td">
                  <input type="text" name="drugClass" placeholder="Drug Class">
                </span>
                <span class="td">
                  <input type="text" name="type" placeholder="Type of Drug">
                </span>
                <span class="td">
                  <input type="text" name="description" placeholder="Description">
                </span>
                <span class="td">
                  <input type="date" name="manufactureDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="date" name="expirationDate" class="datepicker form-control">
                </span>
                <span class="td">
                  <input type="text" name="lotNumber" placeholder="Lot Number">
                </span>
                <span class="td">
                  <input type="text" name="concentration" placeholder="Concentration">
                </span>
                <span class="td">
                  <input type="text" name="amountPerUnit" placeholder="Amount Per Unit">
                </span>
                <span class="td">
                  <input type="text" name="unitsRemaining" placeholder="Number of Units Remaining">
                </span>

                <input type="submit" value="Submit" id="pharmacySubmit" name="pharmacySubmit" class="pharmacySubmit btn btn-primary formSubmit">
                <input type="button" value="Cancel" name="cancel" class="btn btn-danger formSubmit cancel" data-toggle="collapse" data-target="#allergyMedicine">

              </form>
              <div>
                <button id="addPharmacy" class="add" data-toggle="collapse" data-target="#other" aria-expanded="false" aria-controls="collapseExample">
                  + </button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</body>

<!--Pharmacy is is not specific to patient-->

<script type="text/javascript">
  $('document').ready(function () {
    console.log("document.ready ajax call: ");
    var data = <%-JSON.stringify(data)%>;
    console.log("data in pharmacy: ")
    console.log(data)
    updateTablePharmacy(data[0].entries);
    // // ajax call to render the original table, where we post to getAllPharmacy
    // // we return a JSON in which we call updateTable with
    // ajax call that on submit will send the new allergy values to the database
    $('.pharmacySubmit').click(function (e) {
      e.preventDefault();
      var sectionName = $(this).parent().attr('id');
      console.log("sectionName: ")
      console.log(sectionName)
      var input = $("#" + sectionName).serializeArray();
      console.log("input in pharmacy.ejs")
      console.log(input)
      $.ajax({
        type: "POST",
        url: "/pharmacy",
        data: {
          section: sectionName,
          genericName: input[0].value,
          proprietaryName: input[1].value,
          drugClass: input[2].value,
          type: input[3].value,
          description: input[4].value,
          manufactureDate: input[5].value,
          expirationDate: input[6].value,
          lotNumber: input[7].value,
          concentration: input[8].value,
          amountPerUnit: input[9].value,
          unitsRemaining: input[10].value
        },
        success: function (data) {
          console.log("New pharmacy data: ");
          console.log(data);
          updateTablePharmacy(data.data[0].entries);
          $('#' + sectionName)[0].reset();
          $('#' + sectionName).hide();
          $('#' + sectionName).parent().find('button').show();
        }
      });
    });
  });

  //This function saves unique id and section name when the edit button is clicked 
  var _id;
  var sectionName;
  $('.section').on('click', '.editBtn', function (event) {
    console.log("edit button clicked");
    event.preventDefault();
    // // find and hide the edit button

    // gets the row of the edit button that was clicked
    var row = $(this).parent().parent();
    // sets the record id of the row that is being edited
    _id = $(row).attr('id')
    sectionName = $(row).attr('title')
    setCss(this);
    row.hide();
    editEntryGeneric(row);
  });

  //Edit existing entry
  $('.section').on('click', '.pharmacySubmit', function (event) {
    event.preventDefault();
    //'this' is editForm (targetted form)
    var thisParent = $(this).parent()
    var input = $(this).parent().serializeArray();
    console.log("this.parent for section in pharmacy edit: ")
    console.log(thisParent)

    $.ajax({
      type: 'POST',
      url: '/editPharmacy',
      data: {
        section: sectionName,
        genericName: input[0].value,
        proprietaryName: input[1].value,
        drugClass: input[2].value,
        type: input[3].value,
        description: input[4].value,
        manufactureDate: input[5].value,
        expirationDate: input[6].value,
        lotNumber: input[7].value,
        concentration: input[8].value,
        amountPerUnit: input[9].value,
        unitsRemaining: input[10].value,
        _id: _id
      },
      success: function (result) {
        console.log("EDIT SUCCESS HTML");
        //console.log(result);
        var form = '#' + result.data.form;
        var hiddenRow = $(form).prev();
        hiddenRow.remove();

        // console.log(result.data.type)
        // $(form).hide();
        $('.editBtn').show();
        $('#editForm').remove();
        console.log("data: ");
        console.log(result.data);
        updateTablePharmacy(result.data[0].entries);
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log("EDIT ERROR");
        console.error("error: " + errorThrown);
      }
    });
  });

  // Delete existing entry
$('.section').on('click', '.delete', function (event) {
  // var form = '#' + $(this).closest('.section').find('form').attr('id');
  $('#editForm').remove();
  alert('Are you sure you want to delete this entry?')
  $('#editingRow').remove();
  $('.editBtn').show();
  //'this' is editForm (targetted form)
  $.ajax({
    type: 'POST',
    url: '/deletePharmacy',
    data: {
      _id: _id,
    },
    success: function (result) {
      console.log("DELETE SUCCESS HTML");
      console.log(result);
    },
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      console.log("DELETE FAIL HTML");
      console.error("error: " + errorThrown);
    }
  });
});

  var updateTablePharmacy = function (data) {
    //initialize empty arrays
    var allergyArray = [];
    var antibioticsArray = [];
    var antiepilepticsArray = [];
    var antifungalsArray = [];
    var antiviralsArray = [];
    var asthmaArray = [];
    var decongestantsArray = [];
    var steroidsArray = [];
    var supplementsArray = [];
    var otherArray = [];
    console.log("data in updateTablePharmacy: ");
    console.log(data);
    //update arrays with passed in data 
    for (var i = 0; i < data.length; i++) {
      if (data[i].section === 'allergyMedicine') {
        allergyArray.push(data[i])
      }
      else if (data[i].section === 'antibiotics') {
        antibioticsArray.push(data[i])
      }
      else if (data[i].section === 'antiepileptics') {
        antiepilepticsArray.push(data[i])
      }
      else if (data[i].section === 'antifungals') {
        antifungalsArray.push(data[i])
      }
      else if (data[i].section === 'antivirals') {
        antiviralsArray.push(data[i])
      }
      else if (data[i].section === 'asthma') {
        asthmaArray.push(data[i])
      }
      else if (data[i].section === 'decongestants') {
        decongestantsArray.push(data[i])
      }
      else if (data[i].section === 'steroids') {
        steroidsArray.push(data[i])
      }
      else if (data[i].section === 'supplements') {
        supplementsArray.push(data[i])
      }
      else if (data[i].section === 'other') {
        otherArray.push(data[i])
      }
    }

    //update each table with the corresponding arrays 
    updateTableHelper(allergyArray, 'allergyMedicine');
    updateTableHelper(antibioticsArray, 'antibiotics');
    updateTableHelper(antiepilepticsArray, 'antiepileptics');
    updateTableHelper(antifungalsArray, 'antifungals');
    updateTableHelper(antiviralsArray, 'antivirals');
    updateTableHelper(asthmaArray, 'asthma');
    updateTableHelper(decongestantsArray, 'decongestants');
    updateTableHelper(steroidsArray, 'steroids');
    updateTableHelper(supplementsArray, 'supplements');
    updateTableHelper(otherArray, 'other');
  };

  //helper to build the table given the data (as an array) and section name
  var updateTableHelper = function (data, section) {
    var table1 = '';
    for (var i = 0; i < data.length; i++) {
      var line = '<tr id=' + data[i]._id + ' title=' + data[i].section + '>';
      line += '<td>' + data[i].genericName + '</td>';
      line += '<td>' + data[i].proprietaryName + '</td>';
      line += '<td>' + data[i].drugClass + '</td>';
      line += '<td>' + data[i].type + '</td>';
      line += '<td>' + data[i].description + '</td>';
      line += '<td>' + data[i].manufactureDate + '</td>';
      line += '<td>' + data[i].expirationDate + '</td>';
      line += '<td>' + data[i].lotNumber + '</td>';
      line += '<td>' + data[i].concentration + '</td>';
      line += '<td>' + data[i].amountPerUnit + '</td>';
      line += '<td>' + data[i].unitsRemaining + '</td>';
      line += '<td><button id = "editBtn" class="editBtn btn">Edit</button></td></tr>';
      table1 += line;
    }
    // if(data)
    // document.getElementById(section + 'TableBody').innerHTML = table1;
    $("#" + section + "TableBody").html(table1);
  };
</script>

</html>


</body>