

.w3-table-all tr:nth-child(even) {
  background-color: #f1f1f161 !important;
}
.w3-table-all {
  border: none !important;
}
th {
  font-style: italic;
}

.subTitle {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 500;

  background-color: #f1f1f1!important;
}


.add {
  float: right;
  -webkit-appearance: listitem;
  padding-right: 10px;
  margin: 0px;
  font-size: 30px;
  font-weight: bolder;
  line-height: 80%;
  color: #FF6363;

}
.formSubmit {
  float: right;
  margin-top: 10px;
}

DIV.table {
  display:table;
}
FORM.tr, DIV.tr {
  display:table-row;
}
SPAN.td {
  display:table-cell;
  align-self: center;
}



.table { display: table; } 
.thGrp {display: table-header-group;}
.trGrp { display: table-row-group; }
.td {display: table-cell; }
.tr {display: table-row; }



.more {
  display:none;
}
.showMore {
  float: right;
}


.addForm .td {
  padding-left: 5px !important;
}

form > span > input {
  border-width: 2px !important;
  padding-left: 5px;
  border-color: #aaa;
}

form > span > textarea {
  border-width: 2px !important;
  padding-left: 5px;
  border-color: #aaa;
}

form > span > select {
  border-width: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-color: #aaa;
}

input[type="text"] {
  border-style: solid;
  border-color: #ccc;
}


.edit, .editBtn{
  float: right;
}
.edit {
  margin-right: 15px;
}
.editBtn {
  font-size: 14px;
}


.form-control{
  width: 500px !important;
}








